.-componente-cabecalho {
  height: 80px;
  padding: 10px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #14002d 0%,
    #420093 50%,
    #14002d 100%
  );
}

.-sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: var(--min-width);
}
